.tittle {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.035em;
  text-align: left;
  color: #3e4c59;
}
.b_tittle {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.014em;
  text-align: left;
  color: #3e4c59;
}
.subtittle {
  color: #6b7580;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: left;
}
